<!DOCTYPE html>
<html>
    <head>
        <title>Tide Gate Optimization</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link href="{{ css }}" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <img src="{{ logo }}" alt="TNC Logo">
            <h1>Tide Gate Optimization</h1>
            <p>Short and snappy subtitle here...</p>
        </div>

        <div class="main">
            {{ app }}
        </div>
    </body>
</html>
